html {
  background-color: wheat;
  padding: 20px;
  padding: 100px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: wheat;
  border-radius: 30px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
